@model DemoSlide4.Models.Product

@{
    ViewData["Title"] = "Details";
}

<h1 class="neon-text-blue flicker">PRODUCT_IDENTIFICATION</h1>

<div class="card p-4">
    <h4 class="neon-text-pink">SYSTEM_ENTITY_REPORT</h4>
    <hr style="border-color: var(--neon-pink);" />
    <dl class="row">
        <dt class = "col-sm-2 neon-text-blue">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2 neon-text-blue">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            $@Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2 neon-text-blue">
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>
        <dd class = "col-sm-10" style="font-family: monospace;">
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>
    </dl>
</div>
<div class="mt-4">
    <a asp-action="Index" class="btn btn-cyberpunk">RETURN_TO_DATABASE</a>
</div>
